body{
    margin: 0px;
    padding: 0px;
}
div.phan1{
   height: 35px;
    background-color:#f8f9fa;
      max-width: 1440px;
    margin: 0 auto
    
}
.phan1 .anhlogo{
float: left;
margin-left :200px;

padding-top: 10px;

}
.phan1 .text{
    line-height: 35px;
    float: left;
    margin-left:536px;
    font-family: Arial, Helvetica, sans-serif ;
    background: linear-gradient(0deg, rgba(246,252,246,1) 70%, rgba(149,151,153,0) 54%) !important;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    font-size: 12px;
    font-weight: bold;
   
    }
.phan1 .text a{
    
    text-decoration: none;
    color: black;
    padding: 12px 15px;;
    
}
.phan1 .text a:hover{
    background-color: brown;
    color: white;
}
.phan1 .share{
    float: left;
}
 .timkiem{
    height: 35px;
    border: none;
    padding: 0px;
    float: left;
}
.nut{
    width: 35px;
    height: 34px;
   background-image: url('../IMAGES/search_btn.png') ;
   background-repeat: no-repeat;
   background-position:center;
   background-color: brown;
 }

 




div.phan2{
    clear: both;
    height: 149px;
    background-color: #B4E7FC;
}
.phan2 img{
    
    display: block;
    margin: 0 auto;
}









.menu{
    height: 36px;
    background-color:#a80002;
     max-width: 1440px;
    margin: 0 auto
}
.menu ul{
    margin: 0px;
    padding: 0px;
    margin-left: 170px;

}
.menu ul li{
    float: left;
    list-style: none;
    
    line-height: 36px;
    
    
}
.gioithieu{
    background-color: rgb(246, 246, 248) !important;
}
.gioithieu a{
    color: #a80002 !important;  
}
.menu ul li a{
    text-decoration: none;
    color: white;
    display: block;
    font-weight: bold;
    padding: 0px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.menu ul li a:hover {
    background-color: rgb(246, 246, 248);
    color: #a80002;
    text-decoration: underline;
}












div.chaychu{
   
    background: rgb(246,252,246);
    height: 30px;
    
}
.chaychu>b{
    margin: 0px;
    display: inline-block;
}
.chaychu >marquee>p{
    margin: 6px;
   color: red;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
}













.main{
   width: 1000px;
   margin: 0 auto;
   height: 1670px;
   border-bottom: 3px solid #a80002;
}
.main .mainleft{
   
    float: left;
    width: 70%;
    height: 1670px;
    
}
.timkiem2{
    height: 30px;
    width: 654px;
    padding: 0px;
    float: left;
}
.nut2{
    width: 35px;
    height: 34px;
   background-image: url('../IMAGES/search_btn.png') ;
   background-repeat: no-repeat;
   background-position:center;
   background-color: brown;
 }
 .Thongbao .tieudetintuc{
    font-weight: bold;
    color:#a80002; 
    padding-bottom: 5px;
    margin-top: 5px;
    display: inline-block;
    border-bottom: 3px solid brown;
    margin-bottom: 0px;
    
}
.Thongbao hr{
    margin: 0px;
    margin-left: 0px;
    margin-bottom: 15px;
}
.Thongbao1{
    margin-top: 10px;
}
.Thongbao1>a{
    text-decoration: none;
    color: black;
    background-image: url('../IMAGES/icontinmoi.png');
      background-repeat: no-repeat;
      background-position: left center;
      padding-left: 10px;
      font-size: 15px;
      margin-right: 20px;
      text-decoration: none;
      font-size: 17px;
      font-weight: bold;
      color:#a80002; 
}
.anhto img{
    width: 300px;
    height: 200px;
}
.anhto p a{
text-decoration: none;
color: #3f3f3f;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
font-size: 17px;
}
.anhto hr{
height: 2px;
background-color: orangered;
border: 0px;
width: 650px;
margin-left: 0px;
}
.anhto p span{
    font-size: 12px;
    color: #848486;
}
.anhto>p a:hover{
    text-decoration: underline;
}
div.anhtochuc{
margin-top: 20px;
}
.anhtochuc img{
    width: 143px;
    height: 90px;
    float: left;
    margin-bottom: 10px;
}
.anhtochuc p{
    margin: 0px;
    display: inline-block;
    margin-left: 20px;

}
.anhtochuc p a{
    text-decoration: none;
color: #3f3f3f;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
}
.anhtochuc p a:hover{
    text-decoration: underline;
}
.anhtochuc span{
    font-size: 12px;
    color: #848486;
    margin-left:  25px;
}
.anhtochuc hr{
    height: 1px;
background-color:#cfcfd1;
border: 0px;
width: 650px;
margin: 8px 0px !important;
}












.main .mainright{
    float: left;
    
    width: 30%;
    height: 1670px;
}

.main .mainright ul{
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}
.main .mainright ul>li{
    border: 1px solid #cbcecf;
    list-style: none;
    padding: 10px;
    
}
.main .mainright ul>li a{
    text-decoration: none;
    color:black;
}
.main .mainright ul>li a:visited{
    color: black;
}
.main .mainright ul>li a p{
    margin:0px;
    margin-top: 3px;
    margin-left: 4px;
    font-size: 12px;
    color: #848486;
}
 .mau{
    background-color: rgb(246, 246, 248);
}
.head{
    background: rgb(246,252,246);
    background: linear-gradient(0deg, rgba(246,252,246,1) 40%, rgba(149,151,153,0) 54%);
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17px;
    height: 30px;
    border-bottom: 2px solid #a80002;
    list-style: none;
    padding-left: 10px;
    color: #a80002;
}
.bando{
    margin-bottom: 10px;
}


.hinh1{
    background-image: url('../IMAGES/2\ \(1\).jpg');
    background-repeat: no-repeat;
    height: 50px;
    background-color: rgb(246,252,246);
    line-height: 50px;
    background-position: left center;
    background-position-x: 6px;
}
.hinh2{
    background-image: url('../IMAGES/3.jpg');
    background-repeat: no-repeat;
    height: 50px;
    line-height: 50px;
    background-position: left center;
    background-position-x: 6px;
    background-color: rgb(246,252,246);
}
.hinh3{
    background-image: url('../IMAGES/1\ \(1\).jpg');
    background-repeat: no-repeat;
    height: 50px;
   
    line-height: 50px;
    background-position: left center;
    background-position-x: 6px;
    
}
.hinh4{
    background-image: url('../IMAGES/5.jpg');
    background-repeat: no-repeat;
    height: 50px;
    
    line-height: 50px;
    background-position: left center;
    background-position-x: 6px;
}
 div .truycap {
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  width: 110px;
  color: #3f3f3f
}

div .sl {
    margin-left: 35px;
   
  font-size: 15px;
}







.footer{
    clear: left;
    width: 1000px;
    height: 200px;
    margin: 0 auto;
}
.footer img{
    width: 100px;
    height: 156px;
    float: left;
    margin-top: 15px;
}
.footer .ngan{
    width: 1px;
    height: 100px;
    margin-left: 20px;
}
.diachi{
    
    float: left;
    margin-left: 10px;
    margin-top: 17px;
}
.diachi p{
    margin: 8px 0px;
    font-family: Arial,sans-serif;
    font-size: 13px;
}
.taitro{
   
    float: right;
}
.taitro img{
    width: 128px;
    height: 42px;
}